<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{state.drink.strDrink}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true" v-if="state.loading">
      <div class="loading-center">
        <ion-spinner color="primary"></ion-spinner>
      </div>
    </ion-content>
    <ion-content v-else :fullscreen="true">
      <DrinkCard :drink="state.drink" />
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import axios from "axios";
import { reactive } from "vue";
import { useRoute } from "vue-router";
import DrinkCard from '../components/DrinkCard.vue'
import IDrinkDetails from '../interfaces/CDrinkDetails'

import {
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonSpinner,
    IonPage,
    IonBackButton,
    IonButtons,
  } from '@ionic/vue'

  export default {
    name: "Drink",
    components: {
      IonHeader,
      IonToolbar,
      IonTitle,
      IonContent,
      IonSpinner,
      IonPage,
      IonBackButton,
      IonButtons,
      DrinkCard,
    },
    setup() {
      const route = useRoute()
      const drinkId = route.params.id as string

      const state = reactive({
        drink: {} as IDrinkDetails,
        loading: false,
      })

      const fetchDrinkById = async (drinkId: string) => {
        state.loading = true
        const res = await axios.get(`https://www.thecocktaildb.com/api/json/v1/1/lookup.php?i=${drinkId}`)
        
        state.drink = res.data?.drinks[0]
        state.loading = false
      }
      fetchDrinkById(drinkId)

      return {
        state
      }
    }
  }



</script>