<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ingredient}} Drinks</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true" v-if="state.loading">
      <div class="loading-center">
        <ion-spinner color="primary"></ion-spinner>
      </div>
    </ion-content>
    <ion-content v-else :fullscreen="true">
      <ion-list>
        <ion-item
          v-for="drink in state.lstDrinks"
          :key="drink"
          @click="() => router.push(`/drinks/${drink.idDrink}`)"
        >
          <ion-avatar slot="start">
            <img :src="drink.strDrinkThumb">
          </ion-avatar>
          <ion-label>
            <h2>{{drink.strDrink}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonList,
  IonItem,
  IonAvatar,
  IonLabel,
  IonSpinner,
  IonButtons,
  IonBackButton,
} from "@ionic/vue";
import axios from "axios";
import { useRouter, useRoute } from "vue-router";
import { reactive } from "vue";

interface Drink {
  strDrink: string;
  strDrinkThumb: string;
  idDrink: string;
}

export default {
  name: "DrinksByIngredient",
  components: {
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonList,
    IonItem,
    IonAvatar,
    IonLabel,
    IonSpinner,
    IonButtons,
    IonBackButton,
    IonPage,
  },
  setup() {
    const router = useRouter();
    const route = useRoute()
    const ingredient = route.params.ingredient as string

    const state = reactive({
      lstDrinks: [] as Drink[],
      loading: false,
    });

    const fetchDrinksByIngredient = async (ingredient: string) => {
      state.loading = true;
      const res = await axios.get(
        `https://www.thecocktaildb.com/api/json/v1/1/filter.php?i=${ingredient}`
      );

      if (res.data) {
        // console.log(res.data);
        
        state.lstDrinks = res.data.drinks;
      }
      state.loading = false
    };

    fetchDrinksByIngredient(ingredient);

    return {
      router,
      state,
      ingredient,
    };
  },
};
</script>