<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Random Cocktail</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content v-if="state.loading">
      <div class="loading-center">
        <ion-spinner color="primary"></ion-spinner>
      </div>
    </ion-content>
    <ion-content v-else :fullscreen="true">
      <ion-header>
        <ion-refresher slot="fixed" @ionRefresh="doRefresh">
          <ion-refresher-content>123</ion-refresher-content>
        </ion-refresher>
        <DrinkCard :drink="state.randomCocktail" />
      </ion-header>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonRefresher,
  IonRefresherContent,
  IonSpinner,
} from "@ionic/vue";
import { reactive } from "vue";
import axios from "axios";
import DrinkCard from '@/components/DrinkCard.vue';

export default {
  name: "Random",
  components: {
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonPage,
    IonRefresher,
    IonRefresherContent,
    IonSpinner,
    DrinkCard,
  },
  setup() {
    const state = reactive({
      randomCocktail: [],
      loading: false,
      iconsUser: '922bf98083ad4569946e847ecc3be951',
      iconsSecret: 'f472e392633f4cf3ab5c0b350e428b0c',
      defaultIcon: 'https://static.thenounproject.com/png/2864213-200.png'
    });

    const fetchRandomCocktail = async (dispLoaderPage: boolean) => {
      
      if (dispLoaderPage) state.loading = true;

      const res = await axios.get(
        "https://www.thecocktaildb.com/api/json/v1/1/random.php"
      );

      if (res.data) state.randomCocktail = res.data?.drinks[0];

      state.loading = false;
    };

    const doRefresh = (event: CustomEvent) => {
      fetchRandomCocktail(true);

      // eslint-disable-next-line @typescript-eslint/ban-ts-ignore
      //@ts-ignore
      event.target?.complete();
    };
    
    fetchRandomCocktail(true);


    return {
      state,
      fetchRandomCocktail,
      doRefresh,
    };


  },
};
</script>