<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Search By Ingredient</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true" v-if="state.loading">
      <div class="loading-center">
        <ion-spinner color="primary"></ion-spinner>
      </div>
    </ion-content>
    <ion-content v-else :fullscreen="true">
      <ion-list>
        <ion-item
          v-for="ingredient in state.lstIngredients"
          :key="ingredient"
          @click="() => router.push(`/drinks-by-ingredient/${ingredient.strIngredient1}`)"
        >
          <ion-avatar slot="start">
            <img :src="ingredientImage(ingredient.strIngredient1)" alt="">
          </ion-avatar>
          <ion-label>
            <h2>{{ingredient.strIngredient1}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonList,
  IonItem,
  IonAvatar,
  IonLabel,
  IonSpinner
} from "@ionic/vue";
import axios from "axios";
import { useRouter } from "vue-router";
import { reactive } from "vue";

interface Ingredient {
  strIngredient1: string;
}

export default {
  name: "Tab2",
  components: {
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonList,
    IonItem,
    IonAvatar,
    IonLabel,
    IonSpinner,
    IonPage,
  },
  setup() {
    const router = useRouter();

    const state = reactive({
      lstIngredients: [] as Ingredient[],
      loading: false,
    });

    const fetchIngredients = async () => {
      state.loading = true;
      const res = await axios.get(
        "https://www.thecocktaildb.com/api/json/v1/1/list.php?i=list"
      );
      if (res.data) {
        // console.log(res.data);
        
        state.lstIngredients = res.data.drinks;
        state.lstIngredients.sort((a: Ingredient, b: Ingredient) => {
          return a.strIngredient1.localeCompare(b.strIngredient1);
        });
      }
      state.loading = false
    };

    const ingredientImage = (ingredient: string) => {
      return `https://www.thecocktaildb.com/images/ingredients/${encodeURI(
        ingredient
      )}-Small.png`;
    };

    fetchIngredients();

    return {
      router,
      state,
      ingredientImage,
    };
  },
};
</script>