<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Search By Ingredient</ion-title>
      </ion-toolbar>
      <ion-toolbar>
        <ion-searchbar v-model="state.keyword" v-debounce:600ms="fetchSearchResults"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true" v-if="state.loading">
      <div class="loading-center">
        <ion-spinner color="primary"></ion-spinner>
      </div>
    </ion-content>
    <ion-content v-else :fullscreen="true">
      <ion-list v-if="state.searchResults?.length > 0">
        <ion-item
          v-for="drink in state.searchResults"
          :key="drink"
          @click="() => router.push(`/drinks/${drink.idDrink}`)"
        >
          <ion-avatar slot="start">
            <img :src="drink.strDrinkThumb">
          </ion-avatar>
          <ion-label>
            <h2>{{drink.strDrink}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
      <div v-else class="loading-center">
        <ion-label class="text-lg">What's on your mind?</ion-label>
      </div>
    </ion-content>
  </ion-page>
</template>
 
<script lang="ts">
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonAvatar,
  IonList,
  IonItem,
  IonLabel,
  IonSpinner,
  IonSearchbar
} from "@ionic/vue";
import { reactive } from 'vue';
import axios from 'axios'
import CDrinkDetails from '../interfaces/CDrinkDetails'
import { useRouter } from "vue-router";
// import DrinkCard from '../components/DrinkCard.vue'


export default {
  name: "Search",
  components: {
    IonPage,
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonAvatar,
    IonList,
    IonItem,
    IonLabel,
    IonSpinner,
    IonSearchbar
  },
  setup() {
    
    const router = useRouter();

    const state = reactive({
      searchResults: [] as CDrinkDetails[],
      loading: false,
      keyword: ''
    })

    const fetchSearchResults= async ()=>{
      
      if (!state.keyword) return

      state.loading = true
      state.searchResults = []

      const res = await axios.get(`https://www.thecocktaildb.com/api/json/v1/1/search.php?s=${state.keyword}`)
      

      if (res.data) {
        state.searchResults = res.data?.drinks
      }
      state.loading = false
    }

    return {
      state,
      fetchSearchResults,
      router
    }
  }
};
</script>

<style lang="css">
  .loading-center {
    height: 75vh;
  }
</style>