<template>
  <ion-card>
    <img :src="drink.strDrinkThumb" style="object-fit: cover" />
    <ion-card-header>
      <ion-card-subtitle>
        {{ drink.strCategory }} | Served In
        {{ drink.strGlass }}
      </ion-card-subtitle>
      <ion-card-title>
        {{ drink.strDrink }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ drink.strInstructions }}</p>
      <ion-list-header>
        <h2>Ingredients</h2>
      </ion-list-header>
      <ion-list>   
          <template v-for="num in 15" :key="num">
            <ion-item v-if="drink['strIngredient'+num]">
              <ion-avatar v-if="drink['strIngredient'+num]" slot="start">
                <img :src="`https://www.thecocktaildb.com/images/ingredients/${drink['strIngredient'+num]}-Small.png`">
              </ion-avatar>
              <ion-label>
                <span v-if="drink['strMeasure'+num]">
                  {{drink['strIngredient'+num]}} |
                </span>
                <small><ion-text color="secondary">{{drink['strMeasure'+num]}}</ion-text></small>
              </ion-label>
            </ion-item>
          </template> 
      </ion-list>
    </ion-card-content>
  </ion-card>
</template>

<script>
import {
  IonCard,
  IonCardSubtitle,
  IonCardHeader,
  IonCardTitle,
  IonCardContent,
  IonList,
  IonListHeader,
  IonLabel,
  IonAvatar,
  IonItem,
  IonText,
} from '@ionic/vue'
export default {
  name: "DrinkCard",
  components: {
    IonCard,
    IonCardSubtitle,
    IonCardHeader,
    IonCardTitle,
    IonCardContent,
    IonList,
    IonListHeader,
    IonLabel,
    IonAvatar,
    IonItem,
    IonText,
  },
  props: {
    drink: {}
  }
}
</script>

<style>

</style>